* {
  box-sizing: border-box; }

html, body {
  margin: 0px;
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }
  body header {
    background-color: #0c570c;
    display: flex;
    justify-content: center; }
    body header h1 {
      color: whitesmoke; }
  body main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body main h1 {
      color: #23470b; }
    body main #botonesIniciales {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      height: 150px; }
      body main #botonesIniciales #XHR {
        padding: 7px 200px;
        border: solid 1px #23470b;
        color: #23470b;
        background-color: #dceccc;
        border-radius: 7px; }
        body main #botonesIniciales #XHR:hover {
          background-color: #bce2a3; }
        body main #botonesIniciales #XHR:active {
          background-color: #23470b;
          color: #dceccc; }
        body main #botonesIniciales #XHR:focus {
          outline: none; }
      body main #botonesIniciales #Fetch {
        padding: 7px 200px;
        border: solid 1px #23470b;
        color: #23470b;
        background-color: #dceccc;
        border-radius: 7px; }
        body main #botonesIniciales #Fetch:hover {
          background-color: #bce2a3; }
        body main #botonesIniciales #Fetch:active {
          background-color: #23470b;
          color: #dceccc; }
        body main #botonesIniciales #Fetch:focus {
          outline: none; }
      body main #botonesIniciales #jQuery {
        padding: 7px 200px;
        border: solid 1px #23470b;
        color: #23470b;
        background-color: #dceccc;
        border-radius: 7px; }
        body main #botonesIniciales #jQuery:hover {
          background-color: #bce2a3; }
        body main #botonesIniciales #jQuery:active {
          background-color: #23470b;
          color: #dceccc; }
        body main #botonesIniciales #jQuery:focus {
          outline: none; }
    body main #spinner {
      display: none;
      width: 200px;
      height: 200px; }
      body main #spinner img {
        animation: cargar 1s linear infinite; }
    body main #buscadorLista {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 2000px; }
      body main #buscadorLista #parteMenu {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body main #buscadorLista #parteMenu #toogleForm {
          color: #23470b;
          font-size: 20px;
          margin: .5rem;
          cursor: pointer;
          user-select: none; }
        body main #buscadorLista #parteMenu #buscar {
          display: flex;
          justify-content: center;
          align-content: center;
          height: 30px; }
          body main #buscadorLista #parteMenu #buscar #botonBuscar {
            border: #23470b 1px solid;
            color: #23470b;
            background: none;
            margin-left: 15px; }
            body main #buscadorLista #parteMenu #buscar #botonBuscar:hover {
              background-color: #bce2a3; }
            body main #buscadorLista #parteMenu #buscar #botonBuscar:active {
              background-color: #23470b;
              color: #dceccc; }
            body main #buscadorLista #parteMenu #buscar #botonBuscar:focus {
              outline: none; }
          body main #buscadorLista #parteMenu #buscar #botonX {
            display: none;
            border: #23470b 1px solid;
            color: #23470b;
            background: none;
            margin-left: 15px; }
            body main #buscadorLista #parteMenu #buscar #botonX:hover {
              background-color: #bce2a3; }
            body main #buscadorLista #parteMenu #buscar #botonX:active {
              background-color: #23470b;
              color: #dceccc; }
            body main #buscadorLista #parteMenu #buscar #botonX:focus {
              outline: none; }
          body main #buscadorLista #parteMenu #buscar img {
            display: none;
            color: #23470b; }
      body main #buscadorLista #formContainer {
        display: none;
        transition: all .5s ease; }
        body main #buscadorLista #formContainer form {
          padding: 1rem;
          border: 2px solid #23470b;
          border-radius: 1rem;
          margin-bottom: 1rem; }
          body main #buscadorLista #formContainer form .formRow {
            display: flex;
            gap: 1rem; }
          body main #buscadorLista #formContainer form .formRow:not(:last-child) {
            margin-bottom: 1rem; }
          body main #buscadorLista #formContainer form .formGroup {
            display: flex;
            flex-direction: column;
            flex: 1;
            color: black; }
          body main #buscadorLista #formContainer form #cajaBoton {
            justify-content: flex-end; }
            body main #buscadorLista #formContainer form #cajaBoton #anade {
              padding: 7px 200px;
              border: solid 1px #23470b;
              color: #23470b;
              background-color: #dceccc;
              border-radius: 7px; }
              body main #buscadorLista #formContainer form #cajaBoton #anade:hover {
                background-color: #bce2a3; }
              body main #buscadorLista #formContainer form #cajaBoton #anade:active {
                background-color: #23470b;
                color: #dceccc; }
              body main #buscadorLista #formContainer form #cajaBoton #anade:focus {
                outline: none; }
      body main #buscadorLista #lista {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: space-around;
        width: 1500px;
        height: 50px; }
        body main #buscadorLista #lista .infoCaja {
          border: solid 1px #bce2a3;
          border-radius: 8px;
          margin-top: 30px;
          box-shadow: 0px 0px 5px 6px #dceccc;
          padding: 15px; }
      body main #buscadorLista #lugarBusca {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: space-around;
        width: 1500px;
        height: 50px; }
        body main #buscadorLista #lugarBusca .infoCaja {
          border: solid 1px #bce2a3;
          border-radius: 8px;
          margin-top: 30px;
          box-shadow: 0px 0px 5px 6px #dceccc;
          padding: 15px; }

@keyframes cargar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

#loadingButton {
  width: 25px;
  height: auto;
  animation: cargar 1s linear infinite; }
