$colorFondo:rgb(12, 87, 12);
$verdeOscuro:#23470b;
$verdeClarito:#dceccc;
$verdeClaro:#bce2a3;
$blanco:whitesmoke;
@mixin estiloBotones{
    padding:7px 200px;
    border:solid 1px $verdeOscuro;
    color:$verdeOscuro;
    background-color: $verdeClarito;
    border-radius: 7px;
     &:hover{
        background-color: #bce2a3;
    }
    &:active{
        background-color: #23470b;
        color:#dceccc;
    }
    &:focus{
        outline: none;
    }
    
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    height:100%;
}

header{
    background-color:$colorFondo;
    display: flex;
    justify-content: center;
    h1{
        color:$blanco
    }    
}
body{
    display: flex;
    flex-direction: column;
}
main{
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    h1{
        color:$verdeOscuro;
    }
    #botonesIniciales{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
        
        #XHR{
                
            @include estiloBotones();
        }
        #Fetch{
            @include estiloBotones();
        }
        #jQuery{
            @include estiloBotones();
        }
    }
}
#spinner{
    display:none;
    width: 200px;
    height: 200px;    
    img{
        animation: cargar 1s linear infinite;
    }
    
}
@keyframes cargar{
    0% {
        transform: rotate(0deg)
    }
      
    100% {
        transform: rotate(-360deg)
    }

}
#lista{
    display: flex;
    flex-direction: column;
}
// @keyframes cargar{
//     0% {
//         transform: rotate(0deg)
//     }
      
//     20% {
//         transform: rotate(-360deg)
//     }
      
//     40% {
//         transform: rotate(-720deg)
//     }
      
//     60% {
//         transform: rotate(-900deg)
//     }
      
//     100% {
//         transform: rotate(-1080deg)
//     }
      
// }